@import "tailwindcss";

:root {
  --background: #000501;
  --foreground: #d6d5c9;
  --custom-red: #A22C29;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000501;
    --foreground: #d6d5c9;
    --custom-red: #A22C29;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base [
  :root{
    --custom-red: #A22C29;
  }

  .text-custom-red {
    color: var(--custom-red);
  }

  .bg-custom-red {
    background-color: var(--custom-red);
  }
]